* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#AEAEAE;
}

/*partie 1 */

#div_1 {
  background-color:#4A4A4A;
  height: 80px;
}
#div_1 nav {
  height: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 160%;
}
#list_1 {
  padding: 15px;
}
#list_2 {
  display: flex;
}
#list_2 div {
  margin: 0 20px;
  padding: 15px;
}
#list_1:hover,
#list_2 div:hover {
  background-color:#7D7D7D;
}

@media (max-width: 900px) {
  #the_all_div {
    display: block;
  }
  #div_1 {
    height: 60px;
  }
  #div_1 nav {
    font-size: 120%;
  }
  #list_1 {
    padding: 8px;
  }
  #list_2 div {
    padding: 8px;
  }
}
.imgbox img{
  width: 100%;
  height: 630px;
}
#div_2 ul{
  display: flex;
  justify-content: space-around;
  background-color: #7D7D7D;
  margin: 15px 0;
}
#div_2 ul li {
  width: 150px;
}
#div_2 ul img{
  width: 60%;
  margin: 0 10%;
}
@media (max-width: 900px){
  .imgbox img{
    height: 430px;
  }
}

/*partie 2*/

#div_3 {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px 10%;
  justify-content: center;
}
.img_div_1 {
  width: 35%;
}
.img_div_2{
  width: 65%;
  display: flex;
  flex-direction: row;
}
.img_div_2 div{
  width: 50%;
  height: 50%;
}
.img_div_1 img,.img_div_2 img{
  width: 100%;
  height: 100%;
}
@media (max-width: 900px){
  .img_div_1 {
    width: 100%;
    height: 300px;
  }
  .img_div_2{
    width: 100%;
    height: 50%;
  }
  #div_3 {
    align-items: center;
  }
}

/*partie 3*/

#div_4 {
  text-align: center;
  width: 60%;
  height: 300px;
  margin: 0 20%;
  margin-top: 250px;
}
#div_5 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20% auto 20%;
  height: 300px;
  margin: 0 10%;
}
.back {
  grid-column: 1/4;
  grid-row: 2/4;
  background-color: #4A4A4A;
}
.front {
  grid-column: 1/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.front div {
  background-color: white;
  width: 25%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front div div {
  width: 70%;
  margin: 0 15%;
}
.icon img{
  width: 80px;
  height: 80px;
}
@media (max-width: 900px) {
  #div_4 {
    margin-top: 0;
    font-size: 80%;
    height: 350px;
  }
  #div_5 {
    grid-template-rows: 20% auto auto 10%;
    width: 95%;
    margin: 0 2.5%;
    }
  .front {
    grid-row: 1/5;
    flex-direction: column;
  }
  .front div {
    width: 90%;
    margin: 20px 5%;
    height: 220px;
    justify-content: space-around;
  }
  .icon img{
    width: 60px;
    height: 60px;
  }
}

/*partie 4*/

#div_6 {
  margin: 100px 10%;
  width: 80%;
  height: 500px;
}
#div_6 div {
  height: 100%;
}
#div_6 div img{
  height: 100%;
}
@media (max-width: 900px){
  #div_6 {
    margin-top: 500px;
    width: 80%;
    height: 300px;
  }
}